@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .register {
        >.container {
            .main {
                padding: 44px 0;

                .register-form {
                    padding: 0 44px;
                }

                .img {
                    padding-left: 60px;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .register {
        >.container {
            .main {
                .register-form {
                    padding-right: 60px;
                }
            }
        }
    }
}