@media screen and (min-width: 576px) {
    footer {
        .container {
            padding: 56px 32px 32px
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        .container {
            .second-section {
                .footer__copyright {
                    padding-left: 17px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    footer {
        .container {
            .first-section {
                .footer__subscribe {
                    .newsletter__footer {
                        width: 353px;
                    }
                }
            }
            .second-section {
                .footer__copyright {
                    padding: 0 60px 0 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {}